node_modules/*
**/node_modules/
/build/
kolibri/kolibri/dist/
dist/*
.vscode/
Dockerfile*

# Keep H5P Server pre-compiled build artifacts and core/editor libraries
!h5p_server/**/build
!h5p_server/**/build/**
!h5p_server/**/h5p
!h5p_server/**/h5p/**
